<div class="container">
<footer class="footer">
<small>
copyright &copy;<a href="#"> ruby on rails developer</a>
by <a href="#">Muhammad Waleed</a>
</small>
<nav>
<ul>
<li><%= link_to "About", '#'%></li>
</ul>
</nav>
</footer>
</div>